attrs==20.2.0
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.1.1
numpy==1.19.3
packaging==20.4
pandas==1.1.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
requests==2.24.0
six==1.15.0
toml==0.10.2
tqdm==4.51.0
urllib3==1.25.11
zipp==3.4.0
pylint==2.6.0
pyre-check==0.0.59
