.square {
    border-style: solid;
    border-color: white;
}

.col-4 {
    margin: 0px !important;
    padding: 0px !important; 
}

.sup {
    border-top: none !important;
}

.inf {
    border-bottom: none !important;
}

.right {
    border-right: none !important;
}

.left {
    border-left: none !important;
}